*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: aliceblue;
    background-image: linear-gradient(to left, hsla(290, 77%, 63%, 0.863),#fff );
}
ul {
    /* padding: 1rem; */
    text-align: right;
    list-style-type: none;
    background-color:red;
    background: rgb(131,61,101);
background: linear-gradient(90deg, rgb(97, 203, 235) 13%, rgb(176, 210, 226) 25%, rgb(87, 159, 187) 40%, rgb(109, 206, 198) 59%, rgb(103, 159, 211) 87%, rgba(155,225,240,1) 100%);
}


.spacing {
    word-spacing: 2rem;
}

li {
    display: inline-block;
}
.welcome {
    text-align: left;
    /* padding: 1rem; *//* 
    display: inline-block; */
    /* margin-right: 35rem; */
    font-family: monospace;
    font-size: 3rem;
    text-shadow: 2px 2px 5px bisque;

}
li a{
    text-decoration: none;
    font-size: 2rem;
    color: whitesmoke;
    text-shadow: 4px 6px 7px black;
}
li a:hover {
    text-decoration: underline;
}
li a:focus{
    color: chartreuse;
}
.nowrap {
    white-space: nowrap;
}
.clip {
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    background-image: url("./IMG_1292.JPG");
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: bottom left;
}

/* //small */
@media screen and (min-width: 576px){
ul {
    background-color: green;
    background-image: radial-gradient(whitesmoke,green);
}

}
@media screen and (min-width: 768px){
ul {
    background-color: gold;
    background-image: radial-gradient(whitesmoke,gold);
}

}
@media screen and (min-width: 992px){
ul {
    background-color: purple;
    background-image: radial-gradient(whitesmoke,purple);
}

}